.voitureContainer {
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.voitureContainer div {
    margin-bottom: 10px;
}

.editButton {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.deleteButton {
    background-color: darkred;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.editButton:hover, .deleteButton:hover {
    opacity: 0.8;
}
